h1 {
    font-size: 40px;
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
}

p {
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    color: blue;
    line-height: 50px;
}